:root {
  --primaryColor: #264254 !important;
  --secondaryColor: #ffb782 !important;
  --yellowColor: #e6e324 !important;
  --lightBlueColor: #4f73b9 !important;
  --darkBlueColor: #222e6c !important;
  --mediumBlueColor: #254743 !important;
  --mediumPrimaryColor: #f0d2c9 !important;
  --lightWhite: #f9f9f9 !important;
  --greyColor: #707070 !important;
}
